@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Coustard:wght@400&display=swap");

body {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.promo {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
}

.promo-video {
  top: 16vh;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 0;
}

.circle {
  padding-left: 4vh;
  width: 90%;
  height: auto;
  object-fit: cover;
}

article {
  font-family: "Coustard", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 10vw;
  margin-right: 5vw;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: center;
  padding: 2vh 0;
}

h1 {
  font-size: 4.5vw;
  text-align: center;
  font-family: "Jost", sans-serif;
  line-height: 1.1;
  margin-bottom: 1px;
  white-space: pre-line; /* Сохраняет перенос строк */
  max-width: 100%;
}

h1 span {
  color: black;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

p {
  font-size: 4vh;
  max-width: 50vw;
  text-align: left;
  margin-bottom: 1vh;
}

.promo-stats ul {
  display: flex;
  gap: 15vh;
  padding: 0;
  list-style: none;
}

.promo-stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.num {
  color: blue;
  font-size: 6vh;
  font-weight: bold;
}

.btn-custom {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0;
  width: 46vh;
  padding: 14px 28px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #2200ff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: width 0.3s ease-in-out, padding-right 0.3s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
}

.btn-icon {
  opacity: 0;
  font-size: 24px;
  padding-left: 4vh;
  transform: translateX(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn-custom:hover {
  width: 50vh;
  padding-right: 50px;
}

.btn-custom:hover .btn-icon {
  opacity: 1;
  transform: translateX(0) rotate(360deg);
}

@media (max-width: 768px) {
  .promo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-size: 5vw;
    max-width: 60%;
  }
  .promo-video {
    width: 50%;
    height: 45vh;
  }

  .promo-stats ul {
    grid-template-columns: 1fr 1fr;
    gap: 15vw;
    font-size: 1em;
  }

  p {
    font-size: 2.2vh;
    max-width: 85%;
  }
  .num {
    font-size: 4vh;
  }
  .btn-custom {
    width: 100%;
    font-size: 14px;
    padding: 10px 12px;
    transition: none;
    margin-bottom: 4vh;
  }

  .btn-custom:hover {
    width: 100%;
    padding-right: 12px;
  }

  .btn-icon {
    display: none;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 7vw;
    max-width: 90%;
  }
  p {
    font-size: 2.2vh;
    max-width: 85%;
  }
  .promo-video {
    padding-right: 3vh;
    width: 80%;
    height: 48vh;
  }
  .promo-stats ul {
    grid-template-columns: 1fr 1fr;
    gap: 10vw;
  }
  .num {
    font-size: 3vh;
  }
  li {
    font-size: 0.7em;
  }
  .btn-custom {
    font-size: 12px;
    padding: 10px 12px;
    transition: none;
    margin-bottom: 5vh;
  }
}
