@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Coustard:wght@400&display=swap");

body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.promo {
  display: flex;
  align-items: center;
  width: 100%;
}

.promo-video {
  top: 3vh;
  position: relative;
  width: 100vw;
  height: auto;
  overflow: hidden;
  z-index: 0;
}

.circle {
  width: 85%;
  height: 100%;
  object-fit: cover;
  margin-left: -20vw;
}

article {
  font-family: "Coustard", serif;
  position: absolute;
  padding-left: 45vw;
  overflow: hidden;
  z-index: 1;
  nav {
    display: flex;
    justify-content: center;
    padding-right: 10vh;
  }
}

h1 {
  font-size: 9vh;
  text-align: center;
  font-family: "Jost", sans-serif;
  line-height: 1.2;
  margin-bottom: 2vh;
  span {
    color: black;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
      1px 1px 0 #fff;
  }
}

p {
  font-size: 4vh;
  max-width: 50vw;
  padding-left: 3vw;
}

.promo-stats ul {
  display: flex;
  gap: 18vh;
  padding: 0;
  list-style: none;
  padding-left: 3vw;
}

.promo-stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.num {
  color: blue;
  font-size: 6vh;
  font-weight: bold;
}

.btn-custom {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0;
  width: 46vh;
  padding: 14px 28px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #2200ff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: width 0.3s ease-in-out, padding-right 0.3s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
}

.btn-icon {
  opacity: 0;
  font-size: 24px;
  padding-left: 4vh;
  transform: translateX(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn-custom:hover {
  width: 50vh;
  padding-right: 50px;
}

.btn-custom:hover .btn-icon {
  opacity: 1;
  transform: translateX(0) rotate(360deg);
}

@media (max-width: 768px) {
  body {
    display: block;
    text-align: center;
  }

  .promo {
    flex-direction: column;
    align-items: center;
  }

  .promo-video {
    width: 100%;
    height: auto;
  }

  .circle {
    width: 100%;
    margin-left: 0;
  }

  article {
    position: relative;
    padding-left: 0;
    text-align: center;
  }

  h1 {
    font-size: 5vh;
  }

  p {
    font-size: 2.5vh;
    max-width: 90%;
    padding-left: 0;
    margin: 0 auto;
  }

  .promo-stats ul {
    flex-direction: row;
    gap: 13vh;
    flex-wrap: nowrap;
    span {
      font-size: 15px;
    }
    .num {
      color: blue;
      font-size: 4vh;
      font-weight: bold;
    }
  }

  .btn-custom {
    width: 80%;
    font-size: 18px;
    padding: 12px 24px;
  }

  .btn-custom:hover {
    width: 80%;
    padding-right: 24px;
    transition: none;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 5vh;
  }

  p {
    font-size: 2.5vh;
  }

  .btn-custom {
    margin-left: 7vh;
    font-size: 16px;
    padding: 5px 15px;
  }
  .btn-custom:hover {
    width: 80%;
    padding-right: 15px;
    transition: none;
  }

  .promo-stats ul {
    gap: 5vh;
    span {
      font-size: 13px;
    }
    .num {
      font-size: 3vh;
    }
  }
}
