@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Coustard:wght@400&family=Cousine:wght@400&display=swap");

/* Promo section */

body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.promoSection {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  h1 {
    font-size: 4.5vw;
    text-align: center;
    font-family: "Jost", sans-serif;
    line-height: 1.1;
    margin-bottom: 1px;
    white-space: pre-line;
    max-width: 100%;
  }
  h1 span {
    color: black;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
      1px 1px 0 #fff;
  }
  p {
    font-size: 4vh;
    max-width: 50vw;
    text-align: left;
    margin-bottom: 1vh;
  }
}

.promoVideo {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 0;
  top: 7vh;
}

.circle {
  padding-left: 4vh;
  width: 90%;
  height: auto;
  object-fit: cover;
}

.article {
  font-family: "Coustard", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 5vw;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: center;
  padding: 2vh 0;
}

.promoStats ul {
  display: flex;
  gap: 15vh;
  padding: 0;
  list-style: none;
}

.promoStats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.num {
  color: blue;
  font-size: 6vh;
  font-weight: bold;
}

.btnCustom {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0;
  width: 46vh;
  padding: 10px 28px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #2200ff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: width 0.3s ease-in-out, padding-right 0.3s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
}

.btnIcon {
  opacity: 0;
  font-size: 24px;
  padding-left: 4vh;
  transform: translateX(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btnCustom:hover {
  width: 50vh;
  padding-right: 50px;
}

.btnCustom:hover .btnIcon {
  opacity: 1;
  transform: translateX(0) rotate(360deg);
}

@media (max-width: 768px) {
  .promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 5vw;
      max-width: 60%;
    }
    p {
      font-size: 2.2vh;
      max-width: 85%;
    }
  }
  .promoVideo {
    width: 50%;
    height: auto;
    padding-bottom: 4vh;
  }

  .promoStats ul {
    grid-template-columns: 1fr 1fr;
    gap: 15vw;
    font-size: 1em;
  }

  .num {
    font-size: 4vh;
  }
  .btnCustom {
    width: 100%;
    font-size: 14px;
    padding: 10px 12px;
    transition: none;
    margin-bottom: 4vh;
  }

  .btnCustom:hover {
    width: 100%;
    padding-right: 12px;
  }

  .btnIcon {
    display: none;
  }
}

@media (max-width: 480px) {
  .promo {
    h1 {
      font-size: 7vw;
      max-width: 90%;
    }
    p {
      font-size: 2.2vh;
      max-width: 85%;
    }
  }
  .promoVideo {
    padding-right: 3vh;
    padding-bottom: 7vh;
    width: 70%;
    height: auto;
  }
  .promoStats ul {
    grid-template-columns: 1fr 1fr;
    gap: 10vw;
  }
  .num {
    font-size: 3vh;
  }
  li {
    font-size: 0.7em;
  }
  .btnCustom {
    font-size: 12px;
    padding: 10px 12px;
    transition: none;
    margin-bottom: 5vh;
  }
}

/*How it works section*/

.howItWorksContainer {
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  font-family: "Cousine", monospace;
}

.sectionRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionTitle {
  text-align: center;
  padding-left: 5vw;
  font-size: 2.7em;
  font-family: "Jost", sans-serif;
  line-height: 1.1;
  margin-bottom: 1px;
  max-width: 40%;
}

.textCenter {
  text-align: center;
}

.imageWrapper {
  padding-right: 14vh;
}

.descriptionText {
  max-width: 90%;
  margin: 0 auto 1vh;
  word-wrap: break-word;
}

.icon {
  width: 13vw;
  height: auto;
  object-fit: cover;
}

.lineWrapper {
  position: relative;
  z-index: -1;
}

.dashedLine,
.dashedLineAlt {
  width: 41vw;
  height: auto;
}

.dashedLine {
  padding-top: 9vh;
  margin: 0 -1.5vw 0 -2vw;
}

.dashedLineAlt {
  margin: 20vh -4vw 0;
}

.wavyLine,
.wavyLineAlt {
  width: 2vw;
  height: 30vh;
}

.wavyLine {
  margin-left: 81vw;
}

.wavyLineAlt {
  margin-left: 26vh;
}

/*Pricing section*/

.pricingContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 60px 40px;
  background: #f0f0f0;
  align-items: flex-start;
}

.header {
  background: black;
  font-family: "Jost", sans-serif;
  color: white;
  text-align: center;
  padding: 10vh 2vh 2vh;
  font-size: 3rem;
  letter-spacing: 4px;
  font-weight: bold;
}

.planCard {
  background: black;
  color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: left;
  width: 300px;
  position: relative;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.planNumber {
  background: white;
  color: black;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: bold;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  border: 2.4px solid black;
}

.planTitle {
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
}

.planFeatures {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  font-size: 1rem;
}

.planFeatures li {
  margin-bottom: 10px;
}

.planButton {
  background: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: auto;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11vw;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.planButton i {
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  right: 15px;
}

.planButton:hover {
  width: 13vw;
  padding-right: 5vw;
}

.planButton:hover i {
  opacity: 1;
  transform: translateX(0);
}

/* Reviews section */

.testimonials-section {
  text-align: center;
  padding: 40px 15px;
  background: #121212;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.highlight-text {
  color: #fdd835;
}

.testimonials-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 900px;
  width: 100%;
  justify-content: center;
}

.testimonial-card {
  background: #1c1c1c;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(255, 223, 53, 0.3);
  font-size: 18px;
  text-align: left;
  border: 1px solid rgba(255, 223, 53, 0.4);
  max-width: 450px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.avatar-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  border: 3px solid #fdd835;
}

.rating-stars {
  color: #fdd835;
  font-size: 18px;
}

.testimonial-text {
  font-style: italic;
  color: #e0e0e0;
  font-size: 17px;
  line-height: 1.6;
}

.card-footer {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.user-name {
  font-weight: bold;
  font-size: 18px;
  color: #fdd835;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .testimonials-container {
    grid-template-columns: 1fr;
  }

  .testimonial-card {
    max-width: 100%;
    padding: 25px;
  }

  .avatar-image {
    width: 60px;
    height: 60px;
  }
}
